@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fff0f6;
  color: #4a154b;
  align-items: center;
}

/* HEADER */
header {
  background-color: #f8bbd0;
  padding: 40px 20px 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

header h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 3.8rem;
  color: #ec407a;
  margin: 0;
  text-shadow: 2px 2px 6px rgba(236, 64, 122, 0.25);
}

header p {
  margin: 8px 0 15px;
  font-size: 1.3rem;
  font-family: 'Playfair Display', serif;
  color: #4a154b;
}

/* LINHA DECORATIVA */
header .linha {
  width: 100%;
  height: 6px;
  background: linear-gradient(90deg, #ec407a, #f48fb1, #ec407a);
  background-size: 300% 100%;
  animation: brilho 6s infinite linear;
  border-radius: 3px;
  margin-top: 20px;
}

@keyframes brilho {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* BANNER */
.banner {
  text-align: center;
  padding: 50px 20px;
  background: linear-gradient(to bottom, #f8bbd0, #fff0f6);
}

.banner h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 2.5rem;
  color: #ec407a;
  margin-bottom: 20px;
}

.btn {
  background-color: #ec407a;
  color: white;
  padding: 12px 12px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #d81b60;
  transform: scale(1.05);
}

/* PRODUTOS */
.produtos {
  display: flex; /* Coloca os produtos lado a lado */
  justify-content: center;
  flex-wrap: wrap; /* Quebra linha se faltar espaço */
  gap: 80px; /* Espaço entre eles */
  padding: 40px 20px;
}

.produto {
  background: white;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  padding: 20px;
  transition: transform 0.3s;
  width: 220px;
}

.produto:hover {
  transform: scale(1.03);
}

.produto img {
  width: 200px;
  border-radius: 70px;
  background-color: #f8bbd0;
}

.produto h3 {
  margin: 15px 0 5px;
  color: #ec407a;
  font-size: 1.3rem;
  font-family: 'Playfair Display', serif;
}

.produto p {
  margin: 5px 0;
  font-size: 0.95rem;
}

/* FOOTER */
footer {
  text-align: center;
  background-color: #f8bbd0;
  padding: 30px;
  margin-top: 40px;
  font-size: 1rem;
  color: #4a154b;
}
